@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --operator-button: #eaeaea;
    --operator-button-hover: #cccc;

    --orange-button: #ff9800;
    --orange-button-hover: #e69500;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.div-display {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    animation: showResult 0.3s ease;
}

.nums-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.operator-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.button-num,
.button-plus-less,
.button-comma {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-cls-all,
.button-cls,
.button-operator,
.button-equal {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--operator-button-hover);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos adicionais para melhorar a aparência */

.container {
    background-color: #f7f7f7;
}

.calc {
    width: 250px;
    max-width: 100%;
}

.display {
    border: none;
    background-color: #eaeaea;
}

.button-equal {
    background-color: var(--orange-button);
    color: #ffffff;
}

.button-equal:hover {
    background-color: var(--orange-button-hover);
}

.button-cls-all,
.button-cls,
.button-operator {
    background-color: var(--operator-button);
}

.button-cls-all:hover,
.button-cls:hover,
.button-operator:hover {
    background-color: var(--operator-button-hover);
}

/* Animações */
@keyframes showResult {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-num:active,
.button-cls-all:active,
.button-cls:active,
.button-div:active,
.button-multi:active,
.button-plus:active,
.button-les:active,
.button-equal:active,
.button-plus-less:active,
.button-comma:active {
    background-color: #cccccc;
}

/* Estilos para o alerta */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    background-color: white;
    color: #585858;
    padding: 25px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    position: relative;
}

.closebtn {
    position: absolute;
    top: -5px;
    right: 5px;
    color: var(--orange-button)  ;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: var(--orange-button-hover);
}